swagger: '2.0'
info:
  title: 4chan
  # Y.M.D
  version: 2018.09.05
  description: An unofficial description of the endpoints available to developers
    on 4chan, derived from 4chan's API repository on GitHub.
  termsOfService: https://github.com/4chan/4chan-API
  license:
    name: MIT Opensource License
host: a.4cdn.org
schemes:
- https
- http
basePath: /
externalDocs:
  description: Find out more about 4chan's API
  url: https://github.com/4chan/4chan-API

definitions:
CatalogEntry:
  $ref: definitions/CatalogEntry.yml
Board:
  $ref: definitions/Board.yml
Post:
  $ref: definitions/Post.yml

paths:
  /{boardID}/{pageIdx}.json:
    parameters:
    - name: boardID
      in: path
      description: ID of the board.
      required: true
      type: string
      pattern: ^[a-zA-Z0-9]+$
    - name: pageIdx
      in: path
      required: true
      minimum: 1
      description: Page number, starting from 1
      type: integer
    get:
      tags:
      - boards
      summary: Get threads on a board page.
      description: Retrieves a list of thread IDs for a particular page on a particular board.
      produces:
      - application/json
      responses:
        404:
          description: Board not found
        200:
          description: Board contents page
          schema:
            type: array
            items:
              type: object
              properties:
                page:
                  type: integer
                  description: index of the page.
                  example: 0
                threads:
                  type: array
                  items:
                    $ref: definitions/CatalogEntry.yml

  /{boardID}/catalog.json:
    parameters:
    - in: path
      name: boardID
      description: ID of the board.
      required: true
      type: string
      pattern: ^[a-zA-Z0-9]+$
    get:
      tags:
      - boards
      summary: Get all threads on a board.
      description: Presents all available threads on a given board.
      produces:
      - application/json
      responses:
        404:
          description: Board does not exist.
        200:
          description: Paged thread list.
          schema:
            type: array
            description: An array of pages.
            items:
              type: object
              properties:
                page:
                  type: integer
                  description: Index of the page.
                threads:
                  type: array
                  items:
                    $ref: definitions/Post.yml

  /{boardID}/threads.json:
    parameters:
    - in: path
      name: boardID
      description: ID of the board.
      required: true
      type: string
      pattern: ^[a-zA-Z0-9]+$
    get:
      tags:
      - boards
      summary: Get all thread IDs and timestamps on a board.
      description: Presents all available thread IDs and timestamps on a given board.
      produces:
      - application/json
      responses:
        404:
          description: Board does not exist.
        200:
          description: Paged thread list.
          schema:
            type: array
            description: An array of pages.
            items:
              type: object
              description: Representation of a board page.
              properties:
                page:
                  type: integer
                  description: Index of the page.
                threads:
                  type: array
                  items:
                    type: object
                    required:
                    - 'no'
                    - last_modified
                    properties:
                      'no':
                        type: integer
                        example: 7613594
                        description: Number of this post in each board. NOT unique
                          globally.
                      last_modified:
                        type: integer
                        description: Unix timestamp of the last change made to the
                          thread.
                        example: 1512937329

  /{boardID}/thread/{threadID}.json:
    parameters:
    - in: path
      name: boardID
      description: ID of the board.
      required: true
      type: string
      pattern: ^[a-zA-Z0-9]+$
    - in: path
      name: threadID
      description: ID of the thread.
      required: true
      type: integer
    get:
      tags:
      - threads
      summary: Get all of the posts in a thread
      description: Presents all available thread IDs and timestamps on a given board.
      produces:
      - application/json
      responses:
        404:
          description: Board and/or thread does not exist.
        200:
          description: Paged thread list.
          schema:
            type: object
            description: An object containing the post array.
            required:
            - posts
            properties:
              posts:
                type: array
                description: A list of all of the posts in the thread.
                items:
                  $ref: definitions/Post.yml
  /boards.json:
    get:
      tags:
      - boards
      summary: Get all of the boards currently hosted on 4chan.
      description: A list of all boards present on 4chan.
      produces:
      - application/json
      responses:
        200:
          description: Array of boards.
          schema:
            type: object
            properties:
              boards:
                type: array
                items:
                  $ref: definitions/Board.yml
              troll_flags:
                type: object
                description: A key => name associative list of troll country codes.
